body {
    margin: 0;
    background: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.suhu-style {
    font-size: 20px;
    font-family: math;
    font-style: italic;
}

.padding-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.form-btn {
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: green;
    color: white;
}

.form-btn-konversi {
    background-color: rgb(79, 201, 79);
    color: white;
}

.form-btn-reset {
    background-color: rgb(253, 190, 73);
    color: white;
}

.form-btn-reverse {
    background-color: rgb(250, 101, 101);
    color: white;
}

.form-btn-konversi:hover {
    background-color: green;
}

.form-btn-konversi:active {
    transform: scale(0.80);
}

.form-btn-reset:hover {
    background-color: orange;
}

.form-btn-reset:active {
    transform: scale(0.80);
}

.form-btn-reverse:hover {
    background-color: red;
}

.form-btn-reverse:active {
    transform: scale(0.80);
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

section header h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}